QWidget {
    background-color: #f5f5f5;
    color: #222;
}

#card {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
}

#emptyBlock {
    background-color: #e0e0e0;   /* más oscuro que el card */
    border: 2px solid #cccccc;
    border-radius: 6px;
}

#title {
    color: #000;
    font-size: 16px;
}
